@{
    ViewData["Title"] = "Bug Tracker";
}

<div class="index">
    <div class="greenwrapper">
        <h1>Welcome to Your BugTracker</h1>

        <i class="fa-solid fa-bugs fa-2xl"></i>

        <p>
            Seamlessly manage your bug tracking.
            From project strategy to launch,
            manage it all with one flexible agile software
        </p>

        <a>Backlog</a>
        <a>Release planning</a>
        <a>Product roadmap</a>
        <a>Statistics</a>
        <a>Bug tracking</a>
    </div>

    <div class="blackwrapper">
        <h3>Bug Tracking</h3>
        <p>
            <br />
            <br />
            Streamline your bug tracking with one searchable list of bugs
        </p>
        <div class="search"></div>
        <div class="list"></div>
    </div>

    <div class="darkgreenwrapper">
        <h3>Roadmap</h3>
        <p>
            <br />
            Create your teams ideal workspace to get full visibility into your progress.
            Build custom roadmaps so you can see everything, all in one highlevel overwiev
        </p>
        <div class="roadmap"></div>
    </div>

    <div class="lightgreenwrapper">
        <h3>Statistics</h3>
        <p>
            <br />
            <br />
            Get a total overview of your bug tracking through statistics
        </p>
        <div class="statistics"></div>
    </div>

    <div class="greywrapper">
        <h3>Release Planning</h3>
        <p>
            <br />
            <br />
            Plan your release with the help of a total bug tracking overview
        </p>
        <div class="release"></div>
    </div>
</div>
